<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo">
        <teximate [text]="'Aleksandr Sokolov'" [enter]="enterAnimation"></teximate>
      </a>
      <div class="right-menu right">
        <ul>
          <!--<li *ngFor="let lang of langList$ | async" [ngClass]="{'active':lang.code === currentLang}">-->
          <!--<a (click)="changeLang(lang.code)">-->
          <!--{{ lang.code }}-->
          <!--</a>-->
          <!--</li>-->
          <li>
            <a href="#!" data-target="emailModal" class="modal-trigger">
              <img src="../../../../assets/img/email.svg">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/soko1off/" target="_blank">
              <img src="../../../../assets/img/linkedin.svg">
            </a>
          </li>
          <li>
            <a href="https://github.com/Smip" target="_blank">
              <img src="../../../../assets/img/github.svg">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Modal Structure -->
<div id="emailModal" class="modal" mModal>
  <div class="modal-content">
    <h4 class="center-align">sokolov.aleksandr@yahoo.com</h4>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
