<h1>{{"auth.registration.title"| translate}}</h1>
<div *ngIf="form">
  <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="input-field col s12" *ngFor="let control of controls">
        <i class="material-icons prefix" *ngIf="control.icon">{{control.icon}}</i>
        <input
          [id]="control.id"
          [type]="control.type"
          [formControlName]="control.id"
          class="validate"
        >
        <label [for]="control.id">{{control.label | translate}}</label>
      </div>
      <div class="input-field col s12">
        <button
          class="btn waves-effect waves-light green right"
          type="submit"
          [disabled]="!form.valid"
        >
          {{button | translate}}
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
