<div class="row">
  <div class="col s12">
    <a routerLink="/map-editor" class="waves-effect waves-teal btn-flat">
      Back
      <i class="material-icons left">arrow_back</i>
    </a>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel toolbar">
      <div class="row no-margin">
        <div class="col m6 s12">
          <h2>{{mapName}}
            <small *ngIf="mapLocked">(Map is locked from changes)</small>
          </h2>
        </div>
        <div class="col m6 s24">
          <div class="right">
            <button
              class="btn waves-effect waves-light"
              type="button"
              (click)="onSubmit()"
              *ngIf="tab == 'edit' && geoForm"
              [ngClass]="{
            'waves-green green': geoForm?.dirty,
            'btn-flat' : geoForm?.pristine
            }"
              [disabled]="isSaving"
            >
              Save
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l3 m4">
    <div class="card-panel left-panel">
      <ng-container *ngIf="tab == 'edit'">
        <form
          [formGroup]="geoForm"
          (ngSubmit)="onSubmit()"
          *ngIf="geoForm"
        >
          <div class="row">
            <div class="col s12">
              <ul class="collapsible" mCollapsible>
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">settings_applications</i>
                    Map properties
                  </div>
                  <div class="collapsible-body">
                    <div class="row">
                      <div class="col s12">
                        <small>
                          Current center:
                          {{this.map.getCenter().lat | number:'1.1-5'}}, {{this.map.getCenter().lng | number:'1.1-5'}}.
                          Zoom: {{ this.map.getZoom() }}
                        </small>
                      </div>
                      <div class="input-field col s9 l9 m8">
                        <input id="center" type="text" formControlName="center">
                        <label for="center">Center</label>
                      </div>
                      <div class="input-field col s3 l3 m4">
                        <a
                          class="waves-effect waves-teal btn btn-block"
                          (click)="onSetCenter()"
                          data-tooltip="Set new center"
                          mTooltip
                        >
                          <i class="material-icons">pin_drop</i>
                        </a>
                      </div>

                      <div class="input-field col s9 l9 m8">
                        <input id="minZoom" type="number" formControlName="min_zoom">
                        <label for="minZoom">Minimum zoom</label>
                      </div>
                      <div class="input-field col s3 l3 m4">
                        <a
                          class="waves-effect waves-teal btn btn-block"
                          (click)="onSetMinZoom()"
                          [attr.data-tooltip]="'Set the value to ' + this.map.getZoom()"
                          mTooltip
                        >
                          <i class="material-icons">star_border</i>
                        </a>
                      </div>
                      <div class="input-field col s9 l9 m8">
                        <input id="zoom" type="number" formControlName="zoom">
                        <label for="zoom">Default zoom</label>
                      </div>
                      <div class="input-field col s3 l3 m4">
                        <a
                          class="waves-effect waves-teal btn btn-block"
                          (click)="onSetZoom()"
                          [attr.data-tooltip]="'Set the value to ' + this.map.getZoom()"
                          mTooltip
                        >
                          <i class="material-icons">star_half</i>
                        </a>
                      </div>
                      <div class="input-field col s9 l9 m8">
                        <input id="maxZoom" type="number" formControlName="max_zoom">
                        <label for="maxZoom">Maximum zoom</label>
                      </div>
                      <div class="input-field col s3 l3 m4">
                        <a
                          class="waves-effect waves-teal btn btn-block"
                          (click)="onSetMaxZoom()"
                          [attr.data-tooltip]="'Set the value to ' + this.map.getZoom()"
                          mTooltip
                        >
                          <i class="material-icons">star</i>
                        </a>
                      </div>
                      <div class="input-field col s9 l9 m8">
                        <input id="labelZoom" type="number" formControlName="label_zoom">
                        <label for="labelZoom">Hide labels on zoom</label>
                      </div>
                      <div class="input-field col s3 l3 m4">
                        <a
                          class="waves-effect waves-teal btn btn-block"
                          (click)="onSetLabelZoom()"
                          [attr.data-tooltip]="'Set the value to ' + this.map.getZoom()"
                          mTooltip
                        >
                          <i class="material-icons">all_out</i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <ng-container formArrayName="features">
            <ng-container *ngFor="let feature of geoForm.get('features').controls; let i = index;">
              <div [formGroupName]="i" class="row">
                <div class="input-field col s8">
                  <input
                    [id]="'feature_'+i"
                    type="text"
                    formControlName="name"
                  >
                  <label [for]="'feature_'+i">
                    Area name
                  </label>
                  <span
                    class="helper-text red-text"
                    *ngIf="feature.get('name').invalid && feature.get('name').touched"
                  >
                      <span *ngIf="feature.get('name')['errors']['required']">
                        Required field
                      </span>
                    </span>
                </div>
                <div class="input-field col s2">
                  <label
                    class="checkbox"
                    [for]="'blocked-checkbox-'+i"
                  >
                    <i
                      class="material-icons"
                      *ngIf="feature.get('blocked').value"
                      data-tooltip="The area is locked from editing. Click to unlock."
                      mTooltip
                    >lock</i>
                    <i
                      class="material-icons"
                      *ngIf="!feature.get('blocked').value"
                      data-tooltip="The area is unlocked for editing. Click to block."
                      mTooltip
                    >lock_open</i>
                  </label>
                  <input type="checkbox" formControlName="blocked" [id]="'blocked-checkbox-'+i"/>
                </div>
                <div class="input-field col s2">
                  <button
                    (click)="onDeleteLayer(feature.get('layerId').value)"
                    type="button"
                    class="waves-effect waves-teal btn-flat"
                    data-tooltip="Delete area"
                    mTooltip
                  >
                    <i class="material-icons">delete</i>
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </form>
      </ng-container>
      <ng-container *ngIf="tab == 'search'">
        <div class="row">
          <div class="col s12">
            <p class="center-align" *ngIf="!searchResult.length">
              No result for {{searchString}}
            </p>
            <ul class="collection" *ngIf="searchResult.length">
              <li class="collection-item" *ngFor="let result of searchResult" (click)="showOnMap(result)"
                  [ngClass]="{'active': searchSelectedFeature?.id == result.id}">
                <div>
                  {{result.name}}
                </div>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col s12">
              <button class="btn waves-effect waves-light amber left" type="button" (click)="clearSearchValue()">
                Cancel
                <i class="material-icons right">close</i>
              </button>
              <button class="btn waves-effect waves-light right" type="button"
                      *ngIf="geoForm && searchSelectedFeature" (click)="addFeatureToMap()">
                Add
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col s12 m8 l9">
    <div class="card-panel" style="padding: 0;">
      <div class="map"
           leaflet
           [leafletLayers]="layers"
           [leafletOptions]="options"
           [(leafletCenter)]="center"
           [(leafletZoom)]="zoom"
           [leafletMaxZoom]="maxZoom"
           [leafletMinZoom]="minZoom"
           (leafletMapReady)="onMapReady($event)"
           (leafletMapZoom)="onZoomChanged()"
      >
        <div
          leafletDraw
          [leafletDrawOptions]="drawOptions"
          (leafletDrawCreated)="onDrawCreated($event)"
          (leafletDrawEdited)="onDrawEdited($event)"
          *ngIf="geoForm"
        ></div>
        <div *ngIf="centerMarker" [leafletLayer]="centerMarker"></div>
        <div *ngIf="searchLayer" [leafletLayer]="searchLayer"></div>
        <div searchBox [searchString]="searchString" (search)="searchOnWikimapia($event)"></div>
      </div>
    </div>
  </div>
</div>
