<div class="container">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a routerLink="/map-editor">
            <img src="../../assets/map-editor.jpg">
          </a>
        </div>
        <div class="card-content">
          <a routerLink="/map-editor">
            <span class="card-title activator grey-text text-darken-4">
              Map editor
            </span>
          </a>
          <p>Map editor made on the Angular 8 & Leaflet. Works with Universal.</p>
        </div>
      </div>
    </div>
  </div>
</div>

